.question {

    &.dark {
        background: #4C4C4C;

        p {
            color: #FFF;
        }

        &.highlighted {
            background: #352f47;
            border: 0.063rem solid #835afd;
    
            footer .user-info span {
                color: #fefefe;
            }
        }

        &.answered {
            background: #353636;
        }

        button {
            &:hover {
                filter : brightness(0.3);
            }
        }

        
    }
    background: #fefefe;
    border-radius: 0.5rem;
    box-shadow:  0 0.125rem 0.75rem rgba(0,0,0,0.04);
    padding: 1.5rem;

    & + .question {
        margin-top: 0.5rem;
    }

    &.highlighted {
        background: #F4F0FF;
        border: 0.063rem solid #835afd;

        footer .user-info span {
            color: #29292e;
        }
    }


    
    &.answered {
        background: #DBDCDD;
    }

    p {
        color: #29292e;

    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;


        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
            
            span {
                margin-left: 0.5rem;
                color: #737380;
                font-size: 0.75rem;

                &.dark {
                    color: #D3D3D3;
                }
            }

           
        }

        > div { 
            display: flex;
            gap: 1rem;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2s;

            &.like-button {

                &.dark {
                    svg path {
                        stroke: #d3d3d3;
                    }
                    .question-list.dark {
                        button {
                            border: 1px solid #D3D3D3;
                        }
                    }
                }
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 0.5rem;

               
                &.liked {
                    color: #835afd;

                    svg path {
                        stroke: #835afd;
                    }
                }
            }

            &:hover {
                filter : brightness(0.5);
            }
        }
    }
}